html{
    overflow-x: hidden;
} 

.container{
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;   
    width: 100%;
    position: relative;
}

main{
    padding: 10px;
    margin: auto;
    width: 350px;
    height: 180px;
    border-radius: 50px;
    text-align: center;
    background-color: white;
    margin-top: 60px;
}

input[type=text], input[type=password]{
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(173, 216, 230, 0.413);
    width: 250px;
}

main h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

main p{
    padding-top: 10px;
    padding-bottom: 10px;
}

main a{
    display: inline-block;
    padding-bottom: 10px;
    
}

main button{
    margin-top: 13px;
    width: 85px;
    height: 30px;
    border: 1px solid;
    border-width: 0;
    border-radius: 12px;
    background-color: rgba(151, 228, 151, 0.678);;
}

img{
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.68;
    background-size: cover;
}

header{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    width: 400px;
    height: 150px;
}

header h1{
    margin-top: 120px;
    color: white;
    font-size: xx-large;
    font-family:cursive;
    text-decoration: underline;
    font-weight: 500;
}

span{
    color: rgb(223, 26, 26);
    text-decoration: underline;
}