body{
    margin: 0;
    width: 100%;
}

.container{
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.header-container{
   min-height: 250px;
   display: flex;
   justify-content: center;
   position: relative;
}

.img{
    min-height: 250px;
    background-image: url(../../../Design/limebg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}

header{
    text-align: center;
    min-height: 250px;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.menu{
     display: flex;
     justify-content: space-between; 
     padding-top: 5px;
     margin-right: 5px;
     position: relative;
}

.menu i{
    font-size: 1.1rem;
    color: white;
}

.mbox{
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

.status{
    font-size: 1.1rem;
    color: white;
    display: inline-block;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mbox:hover{
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
}

.title{
    color: white;
    font-size: x-large;
    font-family:cursive;
    text-decoration: underline;
    margin-top: 50px;
    font-size: 40px;
}

span{
    color: rgb(223, 26, 26);
    text-decoration: underline;
}

.bottom-box {
    padding: 20px;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    display:flex;
    flex-wrap: nowrap;
    margin: 15px;
    height:550px;
    border: 5px solid green;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    color: forestgreen;
    font-size: x-large;
    font-weight: 520;
    row-gap: 20px; /* Spacing between rows */
    column-gap: 20px; /* Spacing between columns */ 
    position: relative;
   
}

.staffbox{
    overflow-y:auto;
    height: 500px;
}

.st1{
    border: 2px solid forestgreen ;
    height:100px;
    min-width:200px;
    border-radius: 30px;
    background-color: white;
    padding:5px;
    margin-bottom: 10px;
}

.bottom-box p{
    font-weight: 520;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
}

.submitbox{
    width: 80%;
    justify-content: space-around;
    align-items: center;
    position: absolute; 
    display: flex;
    border: 0;
    color: white;
    background-color: rgb(39, 159, 39);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1rem;
    margin-top: -520px;
    margin-left: 200px;
}

.submitbox a{
    display: block;
}

.submitbox:hover{
    background-color: rgb(130, 173, 45);
}
.errorP {
    color: red; 
    margin: auto;
}
.detailsSpan {
    color: red;
    text-decoration: none;

}