body{
    margin: 0;
    width: 100%;
}

.container{
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.header-container{
   min-height: 250px;
   display: flex;
   justify-content: center;
   position: relative;
}

.img{
    min-height: 280px;
    background-image: url(../../../Design/limebg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}

header{
    text-align: center;
    min-height: 280px;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.menu{
     display: flex;
     justify-content: space-between; 
     padding-top: 5px;
     margin-right: 5px;
     position: relative;
}

.menu i{
    font-size: 1.1rem;
    color: white;
}

.mbox{
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

.status{
    font-size: 1.1rem;
    color: white;
    display: inline-block;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mbox:hover{
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
}

.title{
    color: white;
    font-size: x-large;
    font-family:cursive;
    text-decoration: underline;
    margin-top: 50px;
    font-size: 30px;
}

span{
    color: rgb(223, 26, 26);
    text-decoration: underline;
}

input[type=search] {
    margin-top: 30px;
    width: 450px;
    height: 25px;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
    box-shadow: 0 0 10px;
}

input[type=search]:focus{
    outline: none;
}

i{
    font-size: 1rem;
}

.bottom-box {
    padding: 20px;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    display:flex;
    flex-wrap: nowrap;
    margin: 15px;
    height:550px;
    border: 5px solid green;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    color: forestgreen;
    font-size: x-large;
    font-weight: 520;
    row-gap: 20px; /* Spacing between rows */
    column-gap: 20px; /* Spacing between columns */ 
    position: relative;
   
}

.staffbox{
    overflow-y:auto;
    height: 500px;
}

.st1{
    border: 2px solid forestgreen ;
    height:125px;
    width:495px;
    border-radius: 30px;
    background-color: white;
    padding:5px;
    margin-bottom: 10px;
}

.bottom-box p{
    font-weight: 520;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
}

.small-box {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 545px;
    height:30px;
    border: 2px solid forestgreen ; 
    border-radius: 30px;
    font-weight: 520;
    font-size:x-large;
    color: forestgreen;
    background-color: white;
}

.submitbox{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: -55px; 
    margin-left: 90px;
}

input[type="submit"]{
    border: 0;
    color: white;
    background-color: rgb(39, 159, 39);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 1rem;
}

input[type="submit"]:hover{
    background-color: rgb(130, 173, 45);
}

/* tablet view */
@media(max-width: 768px){

    nav{
        width: 100%;
        gap: 5%;
    }

    .item{
        width: 25%;
    }
}

/* mobile view */
@media(max-width: 500px){

    nav{
        width: 100%;
        gap: 5%;
    } 

    .item{
        width: 75%;
    }

    input[type=search]{
        width: 225px;
    }   

}
