html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header-container{
    min-height: 250px;
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    height: 250px;
    width: 100%;
    position: relative;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0));
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
}

.menu{
    display: flex;
    justify-content: flex-end; 
    padding-top: 5px;
    margin-right: 10px;
    position: relative;
}

.menu i{
   font-size: 1.1rem;
   color: white;
}

.mbox{
   display: inline-block;
   justify-content: space-between;
   padding: 10px;
}

.mbox:hover{
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
}

a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.title{
    color: white;
    font-size: x-large;
    font-family:cursive;
    text-decoration: underline;
    margin-top: 50px;
    font-size: 30px;
}

span{
    color: rgb(223, 26, 26);
    text-decoration: underline;
}

h1{
    text-decoration: underline;
    color:white ;
}

body img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.68;
}

main{
    margin: auto;
    width: 90%;
    min-height: 400px;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-color: green;
    margin-top: -70px;
    border-radius: 30px;
    border: 2px solid rgb(0, 128, 0);
}

 .mainp{
    padding: 15px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 520px;
    font-size: 35px;
    color: white;
    padding-left: 20px;
}
.cards{
    width: 100%; 
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.leftCard{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-color: white;
    border-radius: 30px;
    height: 200px;
    min-width: 40%;
    padding: 10px;
    border-right: 2px solid forestgreen;
    border-radius: 20px;
}
.leftCard pre{
    color:rgb(0, 0, 0) ;
    font-family:cursive;
    font-size: 20px;
    padding-left: 20px;
}


.rightCard{
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-color: white;
    border-radius: 30px;
    height: 200px;
    min-width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid forestgreen;
    border-radius: 20px;
}

.rightCard pre{
    color:rgb(0, 0, 0) ;
    font-family:cursive;
    font-size: 20px;
    padding-left: 20px;
}
.edit{
    margin-top: 60px;
    text-align: center;
}

input[type="submit"]{
    border: 0;
    width: 100px;
    color: green;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color: rgb(130, 173, 45);
    color: white;
}
.head{
    display: flex;
    justify-content: space-between;
}
.butto{
    display: flex;
    z-index: 1;
    justify-content: space-between;
    text-align: center;
    border: 0;
    width: 100px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin-right: 250px;
    margin-top: 5px;
}
.butto1{
    border: 0;
    width: 100px;
    color: green;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.butto1:hover{
    background-color:  rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
 }

 .b2{
    height: fit-content;
 }

 .pastordermain{
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-color: white;
    border-radius: 30px;
    height: 300px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
 }

 .cardspacing{
    overflow-y: auto;
    padding: 10px;
 }

 .card{
    margin-bottom: 10px;
    padding: 10px;
    min-height: 100px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    padding-right: 10px;
    color: forestgreen;
    font-weight: bolder;
    border: 2px solid green;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgb(154, 205, 50, 0.9));
    z-index: 1;
 }

 .orderid, .item, .total{
    margin-bottom: 5px;
 }

 .statusmain{
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background-color: white;
    border-radius: 30px;
    height: 100px;
    width: 80%;
    padding: 10px;
 }

 .orderidstatus{
    margin-bottom: 30px;
 }

 .orderidstatus p{
    color: white;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
 }

 .status{
    display: flex;
    justify-content: space-around;
 }

 .update{
    margin-top: 60px;
    text-align: center;
 }

 .orderidstatus span{
    text-decoration: none;
    color: white;
 }

/* Tablet view */
@media(max-width: 768px){

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rightCard{
        width: 80%;
        margin-top: 15px;
        height: 100px;
        border: none;
    }

    .leftCard{
        width: 80%;
        height: 100px;
        text-align: left;
        border: none;
    }

    .edit{
        margin-top: 30px;
    }

    .update{
        margin-top: 30px;
        text-align: center;
        position: absolute;
        width: 90%;
    }

    .butto1{
        font-size: 1rem;
        width: 90px;
    }

    .status{
        display: flex;
        flex-wrap: wrap;
    }
}

/* Mobile view */
@media(max-width: 500px){

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}


