html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
header{
    min-height: 200px;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: flex-end;
}
nav{
    display: flex;
}

.mbox{
    height: 23px;
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}
.mbox:hover{
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
}
a{
    
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.title{
padding-left: 140px;
    padding-top: 120px;
    width: 100%;
    text-align: center;
    font-family:cursive;
    font-size: x-large;
    text-align: center;
    
}
span{
    text-decoration: underline;
    color: red;
}
h1{
    text-decoration: underline;
    color:white ;
}
body img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.68;
}
main{
    border-radius: 30px;
    min-height: 500px;
    margin: auto;
    width: 90%;
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-color: white;
    z-index: 1;
    margin-top: 100px;
}
 .mainp{
    padding: 15px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 520px;
    font-size: 35px;
    color: white;
    padding-left: 20px;
}
.cards{
    width: 90%;
    margin: auto;   
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
}


.leftCard{


background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
background-color: white;
    border: 3px solid forestgreen;
    border-radius: 30px;
    height: 200px;
    width: 40%;
}
.leftCard p{
    
    color:rgb(0, 0, 0) ;
    font-family:cursive;
    font-size: 20px;
    padding-left: 20px;
}

.rightCard{
    background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background-color: white;
    border: 3px solid forestgreen;
    border-radius: 30px;
    height: 200px;
    width: 40%;
}

.rightCard p{
    color:rgb(0, 0, 0) ;
    font-family:cursive;
    font-size: 20px;
    padding-left: 20px;
}
.edit{
    margin-top: 100px;
    text-align: center;
    
}

input[type="submit"]{
    border: 0;
    width: 100px;
    color: white;
    background-color: rgb(39, 159, 39);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color: rgb(130, 173, 45);
}
.head{
    display: flex;
    justify-content: space-between;
}
.butto{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 0;
    width: 100px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin-right: 75px;
}
.butto1{
   height: 20px;
   padding: 5px;
}
.butto2{
    height: 20px;
    padding: 5px;
 }
.butto1:hover{
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
 }
 .butto2:hover{
   
    height: 50px;
    width: 150px;
    background-color: rgba(34, 139, 34);
    border-radius: 20px;
    color: white;
 }